@font-face {
  font-family: dmsans;
  src: url(../public/fonts/DMSans-VariableFont.ttf);
}
html {
  font-family: dmsans, Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
